.search-global-grup {
  display: flex;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  .search-global-input {
    width: 90%;
    height: 100%;
    padding-left: 15px;
    border: 0;
    background-color: #ffffff26;
    border-radius: 0.5rem 0 0 0.5rem;
    outline: none;
    transition: background-color 0.5s ease 0.3s;
    &::placeholder {
      color: #ffffff63;
      font-size: 15px;
    }
    &:focus {
      background-color: #fff !important;
      & ~ .search-global-button {
        background-color: #fff !important;
        svg {
          fill: #4e4e4e;
        }
      }
    }
  }
  .search-global-button {
    position: relative;
    width: 10%;
    height: 100%;
    border: 0;
    background-color: #ffffff26;
    border-radius: 0 0.5rem 0.5rem 0;
    outline: none;
    transition: background-color 0.5s ease 0.3s;
    svg {
      width: 60%;
      height: 60%;
      fill: #ffffff63;
      transition: fill 0.5s ease 0.3s;
    }
  }
}
