.search-table-grup {
  position: relative;
  .search-table-input {
    width: 100%;
    padding: 11px 0px;
    padding-left: 30px;
    border: 1px solid #dee2e6;
    font-size: 17px;
    outline: none;
    transition: All 0.5s ease 0.1s;
    &:focus {
      border-color: #263341;
    }
    &:focus ~ .search-table-icon {
      fill: red;
    }
  }
  p {
    padding-left: 5px;
    margin: 0px;
    color: #ef7168;
    font-size: 12px;
  }
}

.search-table-icon {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 8px;
  width: 15px;
  height: 15px;
  fill: #757575;
}
