.castom_table {
  .table {
    margin: 0px;
    th {
      border-bottom: 1px solid #dee2e6;
    }
    td {
      font-size: 14px;
      .badge {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    .actions-table {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        padding: 0px;
        &:not(:first-child) {
          margin-left: 15px;
        }
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
    .pencil-item-table svg {
      fill: #34658d;
      &:hover {
        fill: #0b4f86;
      }
    }

    .trash-item-table svg {
      fill: rgb(240, 90, 85);
      &:hover {
        fill: red;
      }
    }
  }
  .status-employess {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      width: 20px;
      height: 20px;
    }
    .lock {
      fill: red;
    }
    .ullock {
      fill: green;
    }
  }
}
