.app {
  &-container {
    display: flex;
  }

  &-content {
    position: relative;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }
  &-body {
    height: calc(100vh - 88px);
  }
}
