.filter-table {
  position: relative;
  margin-left: 5px;
  .delete-filter {
    display: flex;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  svg {
    width: 13px;
    height: 13px;
    fill: #202020;
  }
  .filter-list-wraper {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 25px;
    background-color: #f8f6f6;
    border-radius: 3px;
    box-shadow: 0 1px 15px rgba(160, 118, 118, 0.425);
    .active {
      display: block !important;
    }
    .filter-list {
      display: none;
      width: 155px;
      padding: 0px;
      margin: 0;
      .selected {
        background-color: #ddd;
      }
      button {
        display: block;
        width: 100%;
        padding: 5px 10px;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        font-size: 13px;
        text-align: center;
        &:hover {
          background-color: #ddd;
        }
        &:last-child {
          border-bottom: 0px;
        }
      }
    }
  }
}
