.banks {
  margin-top: 3rem;
  .searchBanks input {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #dee2e6;
    outline: none;
    transition: all 0.5 ease;
    &:focus {
      border-bottom: 1px solid #263341;
    }
  }
}
