.app-header {
  background-color: var(--navbar-bg);
  .logo {
    display: flex;
    align-items: center;
    p {
      color: #ffffffcc;
      font-family: 'Cuprum-Regular';
      font-size: 27px;
    }
    svg {
      width: 35px;
      height: 35px;
    }
    &:hover {
      p {
        color: #fff;
      }
    }
  }

  .global-search {
    height: 30px;
  }

  .navbar-nav {
    margin-left: 1.5rem;
  }

  .burger-button {
    width: 40px;
    border: 0;
    margin-right: 1em;
    background-color: #fff0f000;
    outline: none;
    svg {
      height: 25px;
      transition: 0.5s;
      &:nth-child(1) {
        width: 8px;
      }
      &:nth-child(2n) {
        width: 16px;
      }
    }
    .svgActive {
      fill: #fff;
    }
    .svgNotActive {
      fill: #8a8a8a;
    }
  }
}
